{% extends 'base.html.twig' %}

{% block title %}{{ 'List of positions' |trans }}{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}

<div class="container">
    <h1>{{ 'List of positions' |trans }}</h1>
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th>{{ 'Name' |trans }}</th>
                <th>{{ 'Description' |trans }}</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for position in positions %}
            <tr class="position-relative">
                <td><a href="{{ path('position_edit', {'id': position.id}) }}" class="stretched-link"></a>{{ position.name }}</td>
                <td>{{ position.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <a href="{{ path('position_create') }}" class="btn btn-primary" role="button">{{ "Create Position" |trans}}</a>
</div>
{% endblock %}
