{% extends 'base.html.twig' %}

{% block title %}{{ 'List of positions' |trans }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ 'List of positions' |trans }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Name' |trans }}</th>
                <th>{{ 'Description' |trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            <tr>
                <td>{{ position.name }}</td>
                <td>{{ position.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
