{% extends 'base.html.twig' %}

{% block title %}Hello ContractController!{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}

<div class="container">
    <h1>{{ "Welcome" |trans}}</h1>

    Information from CodeIgniter:
    <ul>
        <li>session_id = {{ session_id }}</li>
        <li>Is logged in = {{ data }}</li>
        <li>Language Code = {{ languageCode }}</li>
    </ul>

<ul>
    {% for contract in contracts %}
        <li>{{ contract.name|e }}</li>
    {% endfor %}
</ul>

</div>

{% endblock %}
