{% block menu %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a href="#" class="brand"style="text-decoration:none;"><img src="{{ asset('assets/images/brand.png') }}" height="18" width="18" style="margin-top:-6px;">&nbsp;Jorani</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{'Admin' |trans}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">{{'Users' |trans}}</a></li>
            <li><a class="dropdown-item" href="#">{{'Create user' |trans}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">{{'Leave types' |trans}}</a></li>
            <li><a class="dropdown-item" href="#">{{'Settings' |trans}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <li class="d-flex">
        logout
      </li>
    </div>
  </div>
</nav>
{% endblock %}
